
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>EngineerDetails</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>@Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)</h3>

@if(@Model.JoinEntries.Count == 0)
{
  <p>This Engineer does not currently work on any machines</p>
}
else
{
  <h4>Machines the Engineer works on:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Machine.MachineName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineer", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
