@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Edit an Engineer</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.HiddenFor(model => model.StartDate)  

    @Html.LabelFor(model => model.EngineerName)
    @Html.EditorFor(model => model.EngineerName)

    @Html.DisplayNameFor(model => model.StartDate) 
    @Html.EditorFor(model => model.StartDate)  
    
    @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate) 
  

    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all engineerss", "Index")</p>